{% load static %}
<html>
<head>
</head>
<body><table align="center" width="100%">
   <tr>
       <th> <img src="{% static 'medicallogo.png' %}" height="70" width="70"> </th>
    <th><h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;MEDITRUST++</h1></th>
       <th align="end">PH:<a href="tel:+91 9866265541"><b>9866265541</b></a></b><br> Email:<a href="mailto:shankaryarramsetti5541@gmail.com" style="color:blue"><b>shankaryarramsetti5541@gmail.com</b></a></th>
    </tr></table><hr>
<h3><center><a href="{% url 'h'%}">HOME</a> &nbsp;&emsp;&emsp;
<a href="{% url 'reg'%}">Register</a> &nbsp;&emsp;&emsp;
<a href="{% url 'login'%}">LOGIN</a> &nbsp;&emsp;&emsp;
<a href="{% url 'au'%}">About US</a> &nbsp;&emsp;&emsp;
<a href="{% url 'cus'%}">ContactUS</a> &nbsp;&emsp;&emsp;
<a href="{% url 'al'%}">ADMIN</a> </center></h3>
<hr>
</body>
</html>